.iPod {
    height: 4.1in;
    width: 2.4in;
    margin: auto;
    margin-top: calc(50vh - 5.2cm);
    padding: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 55%;
    justify-items: center;
    position: relative;
    border-radius: 25px;
    transform: scale(1);
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    box-shadow: inset 0px 0px 20px rgba(43, 43, 43, 0.61), 2px 2px 2px rgba(255, 255, 255, 0.712); 
    /*background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #b4b4b4); */
}

.Display {
    grid-row: 1;
    height: 1.6in;
    width: 2.4in;
    background: rgba(0, 0, 0, 0.452);
    border: 4px solid rgba(0, 0, 0, 0.836);
    border-radius: 6px;
    background: rgb(255, 255, 255);
    background-image: url("./Assets/Images/p8.jpg");
    background-color: #ff00e0;
    background-size: cover;
    display: flex;
    color: white;
}

.Wheel {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    color: #cac9c3;
    cursor: pointer;
}

.Wheel > div {
    position: absolute;
}
#menu, #center, .icon {
    cursor: pointer;
}

#plate {
    height: 58px;
    width: 58px;
    border: 50px solid white;
    background: radial-gradient(rgb(216, 216, 216), white);
    border-radius: 50%; 
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.993);
}
.icon {
    margin: 1px;
    font-size: 0.8rem;
}
.fa-play {
    font-size: 0.6rem;
}
.fa-pause {
    font-size: 0.6rem;
}
#menu {
    top: 35px;
    font-size: 0.8rem;
}
#next {
    left: 60px;
}
#playpause {
    display: flex;
    bottom: 35px;
}
#prev {
    right: 60px;
}
#center {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: radial-gradient(silver, white);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.993), inset 0 0px 6px rgb(187, 187, 187);
}

.MainMenu, .MusicMenu{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: white;
}

#items {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    margin: auto;
    width: 100%;
}
#items > div{
    margin: auto;
    width: 70%;
    padding: 6px;
    margin: 0px;
}
#items {
    color: black;
}
.MainMenu > div:nth-child(1),  .MusicMenu > div:nth-child(1){
    background: white;
    color: black;
    text-align: center;
    font-size: 1.4rem;
    padding: 2px;
}
.Music {
    width: 100%;
}
.CoverFlow {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    position: relative;
}
.CoverFlow > div {
    height: 80px;
    width: 80px;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.993), inset 0 0px 6px rgb(187, 187, 187);
    border-radius: 2px;
    transform: skewY(-35deg);
    top: 10px;
}
.CoverFlow > div:nth-child(1) {
    background: url('./Assets/Images/1.jpg');
    background-size: cover;
}
.CoverFlow > div:nth-child(2) {
    background: url('./Assets/Images/2.jpg');
    background-size: cover;
}
.CoverFlow > div:nth-child(3) {
    background: url('./Assets/Images/4.jpg');
    background-size: cover;
}

.CoverFlow > div:nth-child(4) {
    background: url('./Assets/Images/5.jpg');
    background-size: cover;
}
.CoverFlow > div:nth-child(5) {
    background: url('./Assets/Images/6.jpg');
    background-size: cover;
} 

.MusicPlayer {
    display: flex;
    flex-direction: column;
    background: whitesmoke;
    height: 100%;
    width: 100%;
    color: black;
}
#song {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}
#songCover {
    height: 100px;
    width: 100px;
    background: url('./Assets/Images/3.jpg');
    background-size: cover;
}
#player {
    width: 100%;
    transform: scale(0.9);
    cursor: pointer;
}
.Games{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
#gamePlate {
    height: 110px;
    width: 110px;
    position: relative;
    border-radius: 50%;
    margin: auto;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    animation: gamePlate 2s linear infinite;
}
#gamePlate > span {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

/* Spans are used with different blur values. It is visible when the border of the control is hovered. */
#gamePlate  span:nth-child(1) {
    filter: blur(5px);
}
#gamePlate  span:nth-child(2) {
    filter: blur(10px);
}
#gamePlate  span:nth-child(3) {
    filter: blur(25px);
}
#gamePlate  span:nth-child(4) {
    filter: blur(50px);
}

@keyframes gamePlate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.Settings {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.Settings > div {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.993), inset 0 0px 1px rgb(187, 187, 187);
}
