/* We are using the google fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/* Linear Gradient Background with animation has been used */

body {
  background: linear-gradient(90deg, hsla(11, 82%, 87%, 1) 0%, hsla(299, 85%, 90%, 1) 100%);
  background-size: 300% 100%;
  animation: Colour 10s ease infinite;
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "Avenir Next", Avenir, Arial, sans-serif;
  font-style: italic
}
@keyframes Colour {
  0% {
      background-position: 0% 50%;
  }
  25% {
      background-position: 50% 100%;
  }
  75% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 50% 0%;
  }
}